<!DOCTYPE html>
<html>
<head>
    <title>
        Create Project
    </title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>
<body>
    {% include 'accounts/navbar.html' %} </br>

    <div class="container shadow my-5 py-5 form-group">
        <h2>Create New Project</h2></br>
        
        <form method="POST" action="/accounts/create_project/">
            {% csrf_token %}
            {% for field in form %}
                <p>{{field.label_tag}} {{field}}</p>
            {% endfor %}
            <a class="btn btn-warning"" href="{% url 'index' %}">Back</a>
            <input type="submit"  class="btn btn-primary" name="Submit"> 
        </form>
    </div>
</body>
</html>
