{% extends 'base.html' %}

{% block title %} Create Project {% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-6 m-auto">
            <h4 class="col-10 display-4">CREATE PROJECT</h4>
            <form method="POST" action="/accounts/create_project/">
                {% csrf_token %}
                {% for field in form %}
                    <h4 class="mt-4">{{field.label_tag}} {{field}}</h4>
                {% endfor %}
                <div class="row mt-4">
                    <a class="btn btn-warning col-4" href="{% url 'index' %}">Back</a>
                    <input type="submit"  class="btn btn-primary col-4 offset-2 " name="Submit">
                </div> 
            </form>
        </div>
    </div>
</div>
    

{% endblock %}
