<!DOCTYPE html>
<html>
<head>
    <title>
        Index
    </title>
</head>
<body>
    <h3>Welcome back, {{ request.user }}</h3>

    <p> Projects: </p>
    <ol>
        {% for i in projects %}
            <li>{{i.name}} <a href='project/{{i.pk}}/'>View Project</a></li>
        {% endfor %}
    </ol>
    
    <div>
        <p>
            Create Project <a href="{% url 'createProject' %}">New Project</a>
        </p>
    </div>

    <div>
        <a href="{% url 'logout' %}">Logout</a>
    </div>
</body>
</html>
