<!DOCTYPE html>
<html>
    <head>
        <title>
            Projects
        </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

        <link rel="stylesheet" type="text/css" href="static/index.css">
    </head>

    <body>
        {% include 'accounts/navbar.html' %} </br>

        <div class="container-fluid">
            <h2>Welcome back, @{{ request.user }}</h3>
        </div></br>

        <div class="container-fluid">
            <h3> My Projects
            <a class="btn btn-success" href="{% url 'createProject' %}" id="create-project-button" role="button">New Project</a>
            </h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Project Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody></tbody>
                {% for i in projects %}
                <tr>
                    <td>{{i.name}} 
                        {% if request.user in i.project_admin.all %}
                            <span class="badge badge-secondary">Admin</span>
                        {% endif %}
                    </td>
                    

                    <td>
                        <a type="button" class="btn btn-warning" href='project/{{i.pk}}/'>
                        View Project</a>
                        {% if request.user in i.project_admin.all %}

                            <a type="button" class="btn btn-danger" href="project/{{i.pk}}/delete_project/">Delete Project</a>

                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>


    </body>
</html>
