{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>
        Password Reset
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="icon" href="{% static 'photo/logo10.png' %}">

</head>
<body>
  <div class="container mt-5">
    <div class="container shadow m-auto p-5 w-75" >
      <h4 class="text-center mb-4">Your password has been set. You may go ahead and login now.</h4>
      <div class="row">
        <a class="btn btn-success col-4 m-auto" href="{% url 'login' %}">Log In</a>
      </div>
    </div>
  </div>
</body>
</html>