<!DOCTYPE html>
<html>

<head>
    <title>
        Password Reset
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>
<body>
  <div class="container shadow my-5 py-5 w-25 ">
    <h2 >Forgot Password</h2><br>
    <form method="POST">
      <div class="form-group">
          {% csrf_token %}
    
          {% for field in form %}
              <label>{{field.label_tag}}</label>
              {{field}}
              {% if field.help_text %}
                  <small class="form-text text-muted">{{field.help_text}}</small>
              {% endif %}
    
              {% for error in field.errors %}
                  <p class= "alert alert-warning">{{error}}</p>
              {% endfor %}
              <br>
          {% endfor %}
      </div>
      <div class="row">
          <div class="col-6 m-auto">
              <a class="btn btn-warning" role="button"href="{% url 'index' %}">Back</a>
              <input type="submit" value="Confirm" class="btn btn-success ">
          </div>
      </div>
    </form>
  </div>
</body>
</html>