<!DOCTYPE html>
<html>

<head>
    <title>
        Password Reset
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>
<body>
  <div class="container shadow my-5 p-5">
    <h4>We've sent an email with a password reset link to the email you entered.</h4>
    <p>
      If you don't receive an email, please make sure you've entered the address you registered with,
      and check your spam folder.
    </p>
    <small><em>
      Please sign in from a different window.</em>
    </small>
  </div>

</body>
</html>