<!DOCTYPE html>
    <head>
        <title>Register</title>
    </head>
    <body>
        <h1>Create an account</h1>
        <form method="post" action="{% url 'register' %}">
            {% csrf_token %}

            {% if form.errors %}
            <p>Please check your particulars!</p>
            {% endif %}

            {{ form }}

            {% if messages %}
                {% for message in messages %}
                    <p>{{message}}</p>
                {% endfor %}
            {% endif %}
            
            <input type="submit" value="Register">
        </form>
        <div>
            Back to log in page: <a href="{% url 'login' %}">Back</a>
        </div>
    </body>
</html>