{% extends 'base.html' %}

{% block title %} {{project.name}} | Forum {% endblock %}

{% block content %}

{% load static %}

<div class="container" >
    <div class="jumbotron text-center">
          <h1 class="display-4 text-uppercase mb-4"> {{project.name}}: Forum</h1>
          <p><strong>Last posted:</strong> {{thread.last_posted}} by <kbd>{{thread.last_posted_by}} </kbd> </p>
    </div>
</div>

{% include 'partials/_project_navbar.html' %}

<div class="container" id="forum">
    <h4 class="text-center">
        {{thread.title}}
    </h4>
    <div class="container bg-light m-3 p-3" id="thread" style="height: 500px; overflow-y: auto; display: flex; flex-direction: column-reverse;">
        {% for i in posts %}
                <div class="card m-3 p-3">
                    {% if i.quote_content %}
                        <div class="card m-3 p-1" style="background:honeydew;"> 
                            <h6 class="mx-2">{{i.quote_sender}}</h6>
                            <div class="row">
                                <div class="col mx-2">
                                    <p>{{i.quote_content}}</p>
                                </div>                     
                                <div class="col mx-2 text-right">
                                    <p><small>{{i.quote_timestamp}}</small></p>    
                                </div>       
                            </div>                     
                        </div>
                    {% endif %}                 
                    <h6>{{i.posted_by}}</h6>
                    <p class="card-text">{{i.content}}</p>    
                    <div class="row">
                        <div class="col-md-6 m-6">
                            <small>{{i.timestamp}}</small> 
                            {% if i.edited %}
                                <small> [Edited]</small>
                            {% endif %}
                        </div>
                        <div class="col-md-6 text-right">
                            <a href="{% url 'quote_post' project.pk thread.pk i.pk %}" class="card-link">Quote</a>
                            <a href="{% url 'edit_post' project.pk thread.pk i.pk %}" class="card-link">Edit</a>
                            <a href="{% url 'delete_post' project.pk thread.pk i.pk %}" class="card-link">Delete</a>    
                        </div>
                    </div>
                </div>
        {% endfor %}
    </div>
    <div class="card m-auto p-auto">
        <div class="bg-light">
            <p class="text-right m-3"><a href="{% url 'thread' project.pk thread.pk %}" class="btn btn-danger m-3" onclick="return confirm('Are you sure you want to discard this post?');">Discard</a></p>
            {% if quoted_post %}
                <div class="card m-3 p-1" style="background:honeydew;"> 
                    <h6 class="mx-2">
                        {{quoted_post.posted_by}}
                    </h6>
                    <div class="row">
                        <div class="col mx-2">
                            <p>{{quoted_post.content}}</p>
                        </div>                     
                        <div class="col mx-2 text-right">
                            <p><small>{{quoted_post.timestamp}}</small></p>    
                        </div>       
                    </div>                  
                </div>
            {% endif %}
            <form method="POST">
                {% csrf_token %}
                {% for field in postform %}
                    <div class="card m-3" id="add-post">
                        {{ field }}
                    </div>
                {% endfor %}
                <input type="submit" value="Submit" id="submit-post" class="form-control btn btn-info m-3">
            </form>
        </div>
    </div>
</div>

<script>

document.querySelector('#add-post').onkeyup = function(e) {
    if (e.keyCode === 13) {  // enter, return
        document.querySelector('#submit-post').click();
    }
};
</script>

{% endblock %}