{% extends 'base.html' %}

{% block title %} {{project.name}} | Forum {% endblock %}

{% block content %}

    <link rel="stylesheet" type="text/css" href="/static/forum/style.css">

{% load static %}

<div class="container" >
    <div class="jumbotron text-center">
          <h1 class="display-4 text-uppercase mb-4"> {{project.name}}: Forum</h1>
          <p><strong>Last posted:</strong> {{thread.last_posted}} by <kbd>{{thread.last_posted_by}} </kbd> </p>
    </div>
</div>

{% include 'partials/_project_navbar.html' %}

<div class="container" id="forum">
    <h4 class="text-center display-4">
        {{thread.title}}
    </h4><br>
    <div class="card m-3 p-3" style="background:cornsilk; overflow-x: auto;">               
        <h6>{{first_post.posted_by}}</h6>
        <p class="card-text">{{first_post.content | safe }}</p>    
        <div class="row">
            <div class="col-md-6 m-6">
                <small>{{first_post.timestamp}}</small> 
                {% if first_post.edited %}
                    <small> [Edited]</small>
                {% endif %}
            </div>
            <div class="col-md-6 text-right">
                <a href="{% url 'quote_post' project.pk thread.pk first_post.pk %}" class="card-link">Reply</a>
                {% if first_post.posted_by == user_member %}
                    <a href="{% url 'edit_post' project.pk thread.pk first_post.pk %}" class="card-link">Edit</a>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="container bg-light p-3" id="thread">
        <form action="{% url 'thread' project.pk thread.pk %}#forum">
            <div class="container row text-right p-3 col-6 rounded my-2 mx-5" style="min-width:max-content">
                <div class="col-4 offset-md-1 p-0">
                    <select name="order" class="select form-control">
                        <option value='None'>Order by</option>
                        <option value="popular"
                        {% if "popular" == previous_options.order %}
                            selected
                        {% endif %}
                        > Most popular</option>
                        <option value='new'
                        {% if "new" == previous_options.order %}
                            selected
                        {% endif %}
                        > Newest post</option>
                        <option value='old'
                        {% if "old" == previous_options.order %}
                            selected
                        {% endif %}
                        > Oldest post</option>
                    </select>
                </div>
                <button class="btn btn-info mx-3 col-4" type="submit" >Submit</button>
            </div>
        </form>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-11 p-3">
                {% for i in posts %}
                    <div class="container" id={{i.id}} style="height: 10px;"></div>
                    <div class="card m-2 p-3" style="overflow-x: auto; overflow-y: auto; max-height: 800px;">
                        {% if i.quote_content %}
                            <div class="card m-3 p-1" style="background:honeydew; overflow-x: auto; overflow-y: auto; max-height: 400px;"> 
                                <div class="m-2">
                                    <h6>
                                        {{i.quote_sender}}
                                    </h6>
                                    <p>{{i.quote_content | safe}}</p>
                                    <p><small>{{i.quote_timestamp}}</small></p>           
                                </div>
                            </div>
                        {% endif %}                 
                        <h6>{{i.posted_by}}</h6>
                        <p class="card-text">{{i.content | safe}}</p>    
                        <div class="row">
                            <div class="col-md-6 m-6">
                                <small>{{i.timestamp}}</small> 
                                {% if i.edited %}
                                    <small> [Edited]</small>
                                {% endif %}
                            </div>
                            <div class="col-md-6 text-right">
                                <div class="container d-inline">
                                    {{i.like_counter}} likes
                                    {% if i.liked %}
                                        <a href="{% url 'dislike_post' project.pk thread.pk i.pk %}?page={{posts.number}}" ><i class="fa fa-heart" aria-hidden="true" id='dislike'></i></a>
                                    {% else %}
                                        <a href="{% url 'like_post' project.pk thread.pk i.pk %}?page={{posts.number}}" ><i class="fa fa-heart" aria-hidden="true" id='like'></i></a>
                                    {% endif %}
                                </div>
                                <a href="{% url 'quote_post' project.pk thread.pk i.pk %}?page={{posts.number}}#reply" class="card-link">Reply</a>
                                {% if i.posted_by == user_member %}
                                    <a href="{% url 'edit_post' project.pk thread.pk i.pk %}" class="card-link">Edit</a>
                                    <a href="{% url 'delete_post' project.pk thread.pk i.pk %}" class="card-link">Delete</a>
                                {% elif request.user in project_admin %}
                                    <a href="{% url 'delete_post' project.pk thread.pk i.pk %}" class="card-link">Delete</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}   

                <div class="text-center my-4" id="pagination">
                    <div class="btn-group">
                        {% if posts.has_other_pages %}
                            {% if posts.has_previous %}
                                <a href="?page={{posts.previous_page_number}}&order={{previous_options.order}}#forum" class="btn btn-warning">Back</a>
                            {% else %}
                                <a href="" class="btn btn-warning disabled">Back</a>
                            {% endif %}
                    
                            {% for i in posts.paginator.page_range %}
                                {% if posts.number == i %}
                                    <a href="?page={{i}}&order={{previous_options.order}}#forum" class="btn btn-info active">{{i}}</a>
                                {% else %}
                                    <a href="?page={{i}}&order={{previous_options.order}}#forum" class="btn btn-info">{{i}}</a>
                                {% endif %}
                            {% endfor %}
                    
                            {% if posts.has_next %}
                                <a href="?page={{posts.next_page_number}}&order={{previous_options.order}}#forum" class="btn btn-warning">Next</a>
                            {% else %}
                                <a href="" class="btn btn-warning disabled">Next</a>
                            {% endif %}
                        {% endif %}   
                    </div>
                    
                </div>           
            </div>           
        </div>
    </div>
    <div class="m-auto p-auto">
        <div class="row">
            <div class="col-6" style="background-color: mediumturquoise;">

            </div>

        </div>
        <p class="text-right my-3"><a href="{% url 'thread' project.pk thread.pk %}" class="btn btn-danger m-3" onclick="return confirm('Are you sure you want to discard this post?');">Discard Post</a></p>
        {% if quoted_post %}
            <div class="container" style="height: 10px;" id="reply"></div>
            <div class="card m-3 p-1" style="background:honeydew; overflow-x: auto;"> 
                <div class="m-2">
                    <h6>
                        {{quoted_post.posted_by}}
                    </h6>
                    <p>{{quoted_post.content | safe}}</p>
                    <p><small>{{quoted_post.timestamp}}</small></p>           
                </div>
            </div>
        {% endif %}
        <div class="container p-0 text-center" id='form'>
            <form method="POST">
                {% csrf_token %}
                {{ postform.media }}
                {% for field in postform %}
                    <div class="card m-3" id="add-post">
                        {{ field }}
                    </div>
                {% endfor %}
                <p class="text-center"><em>Note: Your draft will not be saved when you leave this page.</em></p>
                <input type="submit" value="Send" id="submit-post" class="form-control btn btn-info m-3 col-6">
            </form>
        </div>
    </div>
</div>


{% endblock %}