<!DOCTYPE html>
<html>
<head>
    <title>
        {{project.name}} - Todo
    </title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</head>
<body>
    {% include 'accounts/navbar.html' %} </br>

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">{{project.name}} <strong>- Todos</strong></h1></br>
        </div>
    </div>
    
    <div class="container-fluid">
        <table class="table" id="todo">
        <thead>
            <tr>
                <th>Rank</th>
                <th>#</th>
                <th>Todo</th>
                <th>Modified by</th>
                <th>Last Modified</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for i in todo %}
            <tr>
                <td><a href="{% url 'upTodo' project.pk i.pk %}" class="move up btn btn-success">Up</a>
                <a href="{% url 'downTodo' project.pk i.pk %}" class="move down btn btn-warning">Down</a></td>
                <td>{{i.rank}}</td>
                <td>{{i.todo}}</td>
                <td>{{i.last_modified_by}}</td>
                <td>{{i.last_modified}}</td>
                {% if request.user in project.project_admin.all %}
                    <td>
                        <a href="{% url 'editTodo' project.pk i.pk %}" class="btn btn-info" role="button">Edit</a>
                        <a href="{% url 'deleteTodo' project.pk i.pk %}" class="btn btn-warning" role="button">Delete</a>
                    </td>
                {% else %}
                    <td>
                        <a href="{% url 'editTodo' project.pk i.pk %}">Edit</a>
                    </td>
                {% endif %}
            {% endfor %}
            </tr>
        </tbody>
        </table>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addTodo">
            Add Todo
        </button>
        </div>

        <div class="modal" id="addTodo" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Add Todo</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <form method="POST">
                        {% csrf_token %}
                        <table class="form">
                            {{ todoform }}
                        </table>
                        <input type="submit" value="Submit">
                    </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
    </div> </br>

    <a href='/project/{{project.pk}}' class="btn btn-warning" role="button">Back</a>

</body>

</html>