{% extends 'base.html' %}

{% block title %} {{project.name}} | Todo {% endblock %}

{% block content %}

{% load static %}

<div class="container" >
    <div class="jumbotron text-center">
          <h1 class="display-4 text-uppercase mb-4"> {{project.name}}: To-do</h1>
    </div>
</div>

{% include 'partials/_project_navbar.html' %}

<div class="container" id="todo">
    <p>
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#addTodo">
            Add Todo
        </button>
    </p>

    <div class="table-responsive-md">
        <table class="table table-hover" >
            <thead>
                <tr>
                    <th class="ml-2">Rank</th>
                    <th>#</th>
                    <th>Todo</th>
                    <th>Assigned to</th>
                    <th>Deadline</th>
                    <th>Last Modified</th>
                </tr>
            </thead>
            <tbody>
                {% for i in todo %}
                    <tr>
                        <td>
                            <a href="{% url 'upTodo' project.pk i.pk %}" >
                                <img src="{% static 'photo/upward.png' %}" alt="Up" style="height: 30px;">
                            </a>
                            <a href="{% url 'downTodo' project.pk i.pk %}">
                                <img src="{% static 'photo/downward.png' %}" alt="Up" style="height: 30px;">
                            </a>
                        </td>
                        <td>{{i.rank}}</td>
                        <td>
                            <a href="{% url 'viewTodo' project.pk i.pk %}">{{i.title}}</a>
                        </td>
                        <td><kbd>{{i.assigned_to}}</kbd></td>
                        <td>{{i.deadline.date}}</td>
                        <td>{{i.last_modified}} <small>by</small> <kbd>{{i.last_modified_by}}</kbd></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="modal" id="addTodo" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Add Todo</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form method="POST">
                {% csrf_token %}
                <table class="form">
                    {{ todoform }}
                </table>
                <input type="submit" value="Submit" class="form-control btn btn-info mt-3">
            </form>
        </div>
        
        </div>
    </div>
</div>

{% endblock %}