{% extends 'base.html' %}

{% block title %} {{project.name}}| Todo {% endblock %}

{% block content %}

<div class="container">
    <div class="jumbotron text-center">
          <h1 class="display-4 text-uppercase mb-4"> {{project.name}}: To-do</h1>
    </div>
</div>

{% include 'partials/_project_navbar.html' %}

<div class="container">
    <table class="table table-hover" id="todo">
        <thead>
            <tr>
                <th>Rank</th>
                <th>#</th>
                <th>Todo</th>
                <th>Modified by</th>
                <th>Last Modified</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for i in todo %}
            <tr>
                <td><a href="{% url 'upTodo' project.pk i.pk %}" class="move up btn btn-success">Up</a>
                <a href="{% url 'downTodo' project.pk i.pk %}" class="move down btn btn-warning">Down</a></td>
                <td>{{i.rank}}</td>
                <td>{{i.todo}}</td>
                <td>{{i.last_modified_by}}</td>
                <td>{{i.last_modified}}</td>
                {% if request.user in project.project_admin.all %}
                    <td>
                        <a href="{% url 'editTodo' project.pk i.pk %}" class="btn btn-info" role="button">Edit</a>
                        <a href="{% url 'deleteTodo' project.pk i.pk %}" class="btn btn-warning" role="button">Delete</a>
                    </td>
                {% else %}
                    <td>
                        <a href="{% url 'editTodo' project.pk i.pk %}">Edit</a>
                    </td>
                {% endif %}
            {% endfor %}
            </tr>
        </tbody>
    </table>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addTodo">
        Add Todo
    </button>
</div>

<div class="modal" id="addTodo" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Add Todo</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form method="POST">
                {% csrf_token %}
                <table class="form">
                    {{ todoform }}
                </table>
                <input type="submit" value="Submit" class="form-control btn btn-info mt-3">
            </form>
        </div>
        
        </div>
    </div>
</div>

{% endblock %}