{% extends 'base.html' %}

{% block title %} {{project.name}} | Todo {% endblock %}

{% block content %}

<div class="container">
    <div class="jumbotron text-center">
        <h1 class="display-4 text-uppercase mb-4"> {{project.name}}: View Todo</h1>
    </div>
</div>
{% include 'partials/_project_navbar.html' %}


<div class="container">
    <div class="card m-auto">
        <div class="card-header">
            <div class="card-title">
                <h3>{{todo.title}}</h3>
            </div>
        </div>
        <div class="card-body">
            <div class="card-text">
                <p>{{todo.description}}</p>
                <div class="row mb-2">
                    <div class="col-2 card mx-3 my-3 p-2" style="background-color:azure; width: max-content;">
                        <p class="card-text">
                            <strong>Assigned to:</strong> <small><kbd>{{todo.assigned_to}}</kbd></small> 
                        </p>                    
                    </div>
                    <div class="col-3 card mx-3 my-3 p-2" style="background-color:mistyrose; width: max-content;">
                        <p class="card-text">
                            <strong>Deadline:</strong>  {{todo.deadline}} 
                        </p>                    
                    </div>
                </div>
            </div>
            <a href="{% url 'editTodo' project.pk todo.pk %}" class="btn btn-info" role="button">Edit</a>
            <a href="{% url 'deleteTodo' project.pk todo.pk %}" class="btn btn-warning" role="button">Delete</a>
        </div>
    </div>
</div>

{% endblock %}
