{% extends 'base.html' %}

{% block title %} Add project_member {% endblock %}

{% block content %}

<div class="container">
    <div class="jumbotron text-center">
          <h1 class="display-4 text-uppercase mb-4"> {{project.name}}</h1>
    </div>
</div>

{% include 'partials/_project_navbar.html' %}
    <div>
        Add Project Members:    
        <div>
            <form method="POST" action="">
                
                {% csrf_token %}
    
                {{ form }}
    
                {% if messages %}
                    {% for message in messages %}
                        <p>{{message}}</p>
                    {% endfor %}
                {% endif %}

                <input type="submit" name="Submit">
            </form>
        </div>
    </div>

    
{% endblock %}
