<!DOCTYPE html>
<html>
<head>
    <title>
        Delete Member
    </title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>
<body>
    {% include 'accounts/navbar.html' %} </br>

    <div>
        Delete {{project.name}}?
        <div>
            <form method="POST">
                {% csrf_token %}

                {{deleteform}}
                
                <input type="submit" name="Delete">
            </form>
        </div>
    </div>

    <a href="/" class="btn btn-warning" role="button">Back</a>
</body>
</html>
