{% extends 'base.html' %}

{% block title %} {{project.name}} {% endblock %}

{% block content %}

{% include 'partials/_project_navbar.html' %}
<div class="container shadow my-5 p-5 w-50">
    <h2 class="text-center">Confirm remove member <strong>"{{member}} "</strong>?</h2>

    <div class="alert alert-danger">
        <strong>Warning:</strong> Action is irreversible
    </div>

    <form method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-8 m-auto">
                <div class="row">
                    <a class="btn btn-warning col-5 " href='/project/{{project.pk}}/' > Back </a>
                    <input class="btn btn-danger col-5 offset-2" type="submit" name="Delete" value="Delete">  
                </div>
            </div>
        </div>     
    </form>
</div>
{% endblock %}
