{% extends 'base.html' %}

{% block title %} {{project.name}} {% endblock %}

{% block content %}

<div class="container shadow my-5 p-5 w-50">
    <h2 class="text-center mb-4">Confirm delete project <strong>"{{project.name}}"</strong></h2>

    <form method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-8 m-auto">
                <div class="row">
                    <a class="btn btn-warning col-5 " href='/' > Back </a>
                    <input class="btn btn-danger col-5 offset-2" type="submit" name="Delete" value="Delete">  
                </div>
            </div>
        </div>     
    </form>
</div>
{% endblock %}