<!DOCTYPE html>
<html>
<head>
    <title>
        {{project.name}}
    </title>
</head>
<body>
    <h3>{{project.name}}</h3>
    <h4>created by {{project.project_admin.username}}</h4>
    <div>
        Project Members:
        <ul>
            {% for i in members %}
                {% if i != admin_member %}
                    <li>{{i}}</li> 
                    {% if request.user == project.project_admin %}
                        <a href="{% url 'deleteMember' project.pk i.pk %}">Delete Member</a>
                    {% endif %}
                {% else %}
                    <li>{{i}} (admin)</li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>

    <div>
        <form method="POST" action="{% url 'projectPage' project.pk %}">
            {% csrf_token %}
            Add Todo:
            <input type="text" name="todo"> 
            <input type="submit" value="Submit">

        </form>
    </div>

    <div>
        <a href="chat/">Chat</a>
    </div>
    <div>

        <p>Todo:</p>
        <ol>
            {% for i in todo %}
                <li>{{i.todo}} added by <strong>{{i.added_by}}</strong></li>

                {% if request.user == project.project_admin %}
                    <a href="{% url 'deleteTodo' project.pk i.pk %}">Delete Todo</a>
                {% endif %}
            {% endfor %}
        </ol>
    </div>

    {% if request.user == project.project_admin %}
        <a href="add_members/">Add Members</a>
    {% endif %}

    <a href='/'>Back</a>

</body>
</html>
