<!DOCTYPE html>
<html>
<head>
    <title>
        Remove Admin
    </title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>
<body>
    {% include 'accounts/navbar.html' %} </br>

    <div class="container shadow my-5 py-5 form-group">
        <h2>Confirm remove <strong>"{{member}} "</strong> from Admin?</h2>
        
        <form method="POST">
            {% csrf_token %}
            <table class="form">
                <tr>
                    <td>
                        <label for="delete-admin">
                            Warning: Action will be irreversible!
                        </label>    
                    </td>
                </tr>
                <tr>
                    <td>
                        <a class="btn btn-warning"" href="/project/{{project.pk}}/">Back</a>
                        <input class="btn btn-danger" type="submit" name="Delete" value="Remove Admin">            
                    </td>
                </tr>
            </table>
        </form>
    </div>

</body>
</html>
