{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>
        Calendar
    </title>
    
    <link rel="stylesheet" type="text/css" href="/static/cal/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</head>
<body>
    {% include 'accounts/navbar.html' %} </br>


    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">{{project.name}} <strong>- Calendar</strong></h1></br>
          <strong>Last modified:</strong> <p>{{project.cal_last_modified}} <small>by</small> {{project.cal_last_modified_by}}</p>
          <a href="{% url 'addEvent' project.pk %}" class="btn btn-info" role="button">Add Event</a>
        </div>
    </div>
    
    <div class="container">
    <p><a href="{% url 'calendarPage' project.pk 'current_month' %}" class="btn btn-info" role="button">Current Month</a>
    <a href="{% url 'calendarPage' project.pk 'prev_month' %}" class="btn btn-info" role="button">Previous Month</a>
    <a href="{% url 'calendarPage' project.pk 'next_month' %}" class="btn btn-info" role="button">Next Month</a></p>
    <p><a href='/project/{{project.pk}}' class="btn btn-warning" role="button">Back</a></p>
        {{calendar | safe}}
    </div>


</body>

</html>