{% extends 'base.html' %}

{% block title %} {{project.name}} | Calendar {% endblock %}

{% block content %}

<div class="container">
    <div class="jumbotron text-center">
        <h1 class="display-4 text-uppercase mb-4"> {{project.name}}</h1>
    </div>
</div>

{% include 'partials/_project_navbar.html' %}

<div class="container">
    <div class="row text-center">
        <div class="col-4 m-auto">
            <form method="post">
                {% csrf_token %}
                    {% for field in form %}
                        {% if field.label != 'Label' %}
                            <strong>{{field.label}}</strong>{{field}}
                        {% else %}
                            {% if event.label != 'Todo' %}
                                <strong>{{field.label}}</strong>{{field}}
                            {% else %}
                                <strong>Label</strong>
                                <input type="button" class="form-control" value ="Todo" disabled>
                            {% endif %}
                        {% endif %}
                        <br>
                    {% endfor %}
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-warning alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                {{message}}
                            </div>
                        {% endfor %}
                    {% endif %}   

                    <button type="submit" class="form-control btn btn-info mt-4"> Submit </button>   
                </div>
            </form>
        </div>
    </div>        
</div>

<div style="margin-top:500px;"></div>
<footer class="py-5 text-white text-center " style="background-color:darkslategray;">
    Published by Workaholic, {{ Year }}
{% endblock %}