{% extends 'base.html' %}

{% block title %} {{project.name}} | Calendar {% endblock %}

{% block content %}

{% include 'partials/_project_navbar.html' %}

<div class="container col-8">
    <form action="{% url 'searchEvent' project.pk %}">
        <div class="container row p-3 mx-auto col-8 bg-light rounded mb-4" >
            <div class="col-10 pl-0">
                <div class="input-group my-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Keyword</span>
                    </div>
                    <input type="text" name="keywords" class="form-control" placeholder="Type your keywords" value="{{ previous_options.keywords }}">
                </div>
            </div>
            <div class="col-2 p-0">
                <select name="label" class="select form-control my-3">
                    {% for key, value in label_options.items %}
                        <option value={{value}}
                        {% if value == previous_options.label %}
                            selected
                        {% endif %}
                        > {{key}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="input-group col-6 p-0" id="event">
                <div class="input-group-prepend">
                  <span class="input-group-text">Start date</span>
                </div>     
                <select name="start_month" class="select form-control">
                    {% for key, value in month_options.items %}
                        {% with month=value|stringformat:"s" %}
                            <option value={{value}}
                            {% if month == previous_options.start_month %}
                                selected
                            {% endif %}
                            > {{key}}</option>
                        {% endwith %}
                    {% endfor %}
                </select>
                <input type="number" name="start_year" class="form-control" placeholder="Start year" value="{{ previous_options.start_year }}">
            </div>
    
            <div class="input-group col-6 pr-0">
                <div class="input-group-prepend">
                  <span class="input-group-text">End date</span>
                </div>     
                <select name="end_month" class="select form-control">
                    {% for key, value in month_options.items %}
                        {% with month=value|stringformat:"s" %}
                            <option value={{value}}
                            {% if month == previous_options.end_month %}
                                selected
                            {% endif %}
                            > {{key}}</option>
                        {% endwith %}
                    {% endfor %}
                </select>
                <input type="number" name="end_year" class="form-control" placeholder="End year" value="{{ previous_options.end_year }}">
            </div>
            
            <button class="btn btn-info btn-block mt-3 mx-auto col-6" type="submit" >Submit</button>
        </div>
    </form>    
</div>

<div class="container m-auto row text-center">
    {% for i in events %}
    <div class="col-4 mb-3 px-2">
        <div class="card">
            <div class="card-header">
                {{i.label}}
            </div>
            <div class="card-body">
                <a href="{% url 'viewEvent' project.pk i.pk %}" class="card-title lead">{{i.title}}</a>            
                <p class="card-text">{{i.description}}</p>
            </div>
            <div class="card-footer text-muted">
            {{i.start_time}}<br>
            {{i.end_time}}
            </div>
        </div>
    </div>
{% endfor %}
</div>

<div class="text-center my-4">
    <div class="btn-group">
        {% if events.has_other_pages %}
            {% if events.has_previous %}
                <a href="?page={{events.previous_page_number}}#event" class="btn btn-warning">Back</a>
            {% else %}
                <a href="" class="btn btn-warning disabled">Back</a>
            {% endif %}
    
            {% for i in events.paginator.page_range %}
                {% if events.number == i %}
                    <a href="?page={{i}}#event" class="btn btn-info active">{{i}}</a>
                {% else %}
                    <a href="?page={{i}}#event" class="btn btn-info">{{i}}</a>
                {% endif %}
            {% endfor %}
    
            {% if events.has_next %}
                <a href="?page={{events.next_page_number}}#event" class="btn btn-warning">Next</a>
            {% else %}
                <a href="" class="btn btn-warning disabled">Next</a>
            {% endif %}
        {% endif %}   
    </div>
</div>
{% endblock %}