{% extends 'base.html' %}

{% block title %} {{project.name}} | Calendar {% endblock %}

{% block content %}

<div class="container">
    <div class="jumbotron text-center">
        <h1 class="display-4 text-uppercase mb-4"> {{project.name}}:{{event.title}}</h1>
    </div>
</div>

{% include 'partials/_project_navbar.html' %}

<div class="container">
    <div class="card m-auto">
        <div class="card-header">
            <div class="card-title">
                <h3>{{event.title}}</h3>
                {% if event.label %}
                    <small><kbd>{{event.label}}</kbd></small>
                {% endif %}
                
            </div>
        </div>
        <div class="card-body">
            <div class="card-text">
                <p>{{event.description}}</p>
                <p><strong>Start Date:</strong> {{event.start_time}}</p>
                <p><strong>End Date:</strong>  {{event.end_time}}</p>
            </div>
            <a href="{% url 'editEvent' project.pk event_pk %}" class="btn btn-info">Edit</a>
            <a href="{% url 'deleteEvent' project.pk event_pk %}" class="btn btn-warning">Delete</a>
        </div>
    </div>
</div>

<div style="margin-top:500px;"></div>
<footer class="py-5 text-white text-center " style="background-color:darkslategray;">
    Published by Workaholic, {{ Year }}
{% endblock %}