{% extends 'base.html' %}

{% block title %}{{project.name}} | Chat Space{% endblock %}

{% block content %}

<div class="container">
    <div class="jumbotron text-center">
        <h1 class="display-4 text-uppercase mb-4"> {{project.name}}:Chat Space</h1>
    </div>
</div>

{% include 'partials/_project_navbar.html' %}

<div class="container">
    <div class="row">
        <div class="col-8 m-auto">
            <textarea id="chat-log" cols="100" rows="20" class="form-control"></textarea><br>
            <input id="chat-message-input" type="text" size="100" class="form-control"><br>
            <input id="chat-message-submit" type="button" value="Send" class="btn btn-info mt-4 form-control">
        </div>
    </div>
</div>
<script>
    const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/project/'
        + '{{pk}}'
        + '/chat/'
    );

    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        document.querySelector('#chat-log').value += (data.message + '\n');
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'message':"{{request.user}}: "  + message,
        }));
        messageInputDom.value = '';
    };
</script>

{% endblock %}