{% extends 'base.html' %}

{% block title %} {{project.name}} | Board {% endblock %}

{% load humanize %}

{% block content %}

<div class="container">
    <div class="jumbotron text-center">
        <h1 class="display-4 text-uppercase mb-4"> {{project.name}}:Board</h1>
        <strong>Last modified:</strong> {{project.board_last_modified}} by <kbd>{{project.board_last_modified_by}}</kbd>
    </div>
</div>

{% include 'partials/_project_navbar.html' %}

<div class="container bg-light p-4 px-5 shadow">
    <p class="display-4 text-center">{{board.body | safe}}</p>
    <div class="bg-light" style = "height: 250px;"></div>
</div>



<div class="container mt-5">
    <div class="row">
        <div class="col-10 m-auto">
            <h2 class="text-center mb-4">Edit Board</h2>
            <p class="text-right m-3"><a href="{% url 'boardPage' project.pk %}" class="btn btn-danger m-3" onclick="return confirm('Are you sure you want to discard this changes?');">Discard Edits</a></p>
            <form method="POST">
                {% csrf_token %}
                {{ form.media }}
                {% for field in form %}
                    {{ field }}
                {% endfor %}
                <div class="row mt-4">
                    <input type="submit" value="Submit" class = "btn btn-info btn-lg col-5 m-auto">
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}