{% extends 'base.html' %}

{% block title %} {{project.name}} | Board {% endblock %}

{% load humanize %}

{% block content %}

<div class="container">
    <div class="jumbotron text-center">
        <h1 class="display-4 text-uppercase mb-4"> {{project.name}}: Board</h1>
        <strong>Last modified:</strong> {{project.board_last_modified}} by <kbd>{{project.board_last_modified_by}}</kbd>
    </div>
</div>

{% include 'partials/_project_navbar.html' %}

<div class="container-lg bg-light p-4 shadow" style="overflow-x: scroll; min-height: 250px;">
    {% if board.body %}
        <div class="card bg-light border-light">
            <p class="card-body display-4 text-center">{{board.body | safe}}</p>
        </div>
    {% else %}
    <div class="card bg-light border-light">
        <span data-toggle="popover" data-placement="bottom" title="Project Board has no contents yet!" data-content="Note down your important project information and updates in the Project Board!"></span>
    </div>
    {% endif %}
</div>



<div class="container mt-5">
    <h2 class="text-center mb-4">Edit Board</h2>
    <div class="container">
        <div class="container text-right p-0">
            <a href="{% url 'boardPage' project.pk %}" class="btn btn-danger mb-3 mr-2" onclick="return confirm('Are you sure you want to discard this changes?');">Discard Edits</a>
        </div>
        <div class="container p-0 text-center" id='form'>
            <form method="POST">
                {% csrf_token %}
                {{ form.media }}
                {% for field in form %}
                    <div class="card m-3">
                        {{ field }}
                    </div>
                {% endfor %}
                <p><em>Note: Your draft will not be saved when you leave this page.</em></p>
                <input type="submit" value="Submit" class = "btn btn-info btn-lg col-5 m-auto">
            </form>
        </div>

    </div>
</div>

<script>
    $(document).ready(function(){
      $('[data-toggle="popover"]').popover("show");     
    });
</script>

{% endblock %}