<!-- FILL & JUSTIFY -->
<div class="container mb-4">
    <div class="row">
        <div class="-10 m-auto">
            <ul class="nav nav-fill nav-pills">
                <div class="row">
                    <div class="">
                        <li class="nav-item">
                            <a 
                            {% if 'add_event/' in request.path %}
                                href="{% url 'calendarPage' project.pk 'current_month' %}"
                            {% elif 'edit_event/' in request.path %}
                                href= '/project/{{project.pk}}/calendar/event/{{event.pk}}'
                            {% elif 'delete_event/' in request.path %}
                                href= '/project/{{project.pk}}/calendar/event/{{event.pk}}'
                            {% elif 'event/' in request.path %}
                                href="{% url 'calendarPage' project.pk 'current_month' %}"
                            {% elif 'edit_todo/' in request.path %}
                                href='/project/{{project.pk}}/todo/'
                            {% elif 'delete_todo/' in request.path %}
                                href='/project/{{project.pk}}/todo/'
                            {% else %}
                                href='/project/{{project.pk}}'
                            {% endif %} 
                            class="nav-link btn btn-warning -8" >Back </a>
                        </li>
                    </div>

                    <div class="">
                        <li class="nav-item">
                            <a href="/project/{{project.pk}}/chat/"
                            {% if 'chat/' in request.path %}
                                class="nav-link btn btn-outline-info -8 active"
                            {% else %}
                                class="nav-link btn btn-outline-info -8 "
                            {% endif %}
                            >Chat</a>
                        </li>
                    </div>
                    <div class="">
                        <li class="nav-item">
                            <a href="{% url 'calendarPage' project.pk 'current_month' %}"
                            {% if 'calendar/' in request.path %}
                                class="nav-link btn btn-outline-info -8 active"
                            {% else %}
                                class="nav-link btn btn-outline-info -8 "
                            {% endif %}
                            >Calendar</a>
                        </li>
                    </div>
                    <div class="">
                        <li class="nav-item">
                            <a href='/project/{{project.pk}}/todo/'
                            {% if 'todo/' in request.path %}
                                class="nav-link btn btn-outline-info -8 active"
                            {% else %}
                                class="nav-link btn btn-outline-info -8 "
                            {% endif %}
                            >To-do</a>
                        </li>
                    </div>
                    <div class="">
                        <li class="nav-item">
                            <a href='/project/{{project.pk}}/board/'
                            {% if 'board/' in request.path %}
                                class="nav-link btn btn-outline-info -8 active"
                            {% else %}
                                class="nav-link btn btn-outline-info -8 "
                            {% endif %} 
                            >Board</a>
                        </li>
                    </div>
                    <!-- <div class="">
                        <li class="nav-item">
                            <a href='/' class="nav-link btn btn-danger -8" >Leave </a>
                        </li>
                    </div> -->
                </div>
            </ul>
        </div>
    </div>
</div>